ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button:focus {
    outline: 0;
}

.container {
/*    max-width: 900px;
    margin: 0 auto;
    padding: 100px 50px;*/
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
}

#note-textarea {
    margin: 20px 0;
}

#recording-instructions {
    margin: 15px auto 60px;
    font-size: 24px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

.subject {
    border-radius: 15%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: 1em;
}
#subjects {
    list-style: disc;
    list-style-position: inside;
    font-size: 20px;
    padding-left: 5em;
    color:#010a79; 
}
.sentiment {
    border-radius: 50%;
    border: 1px solid #000;
    margin: 1em;
}

#result-sentiment{
    font-weight: bold;
    margin-top: 25%; 
}

@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}   